/* ===== Basic Reset ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: #fff;
}


/* ===== Navbar ===== */

header {
    width: 100%;
    padding: 20px 8%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Logo */

.logo {
    font-size: 30px;
    font-weight: bold;
}

.logo span {
    color: #ff6b35;
}


/* Navigation Links */

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ff6b35;
}


/* Hire Me Button */

.hire-btn {
    text-decoration: none;
    background-color: #ff6b35;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.hire-btn:hover {
    background-color: #e85b28;
}


/* ===== Hero Section ===== */

.hero {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8%;
    background-color: #fff8f3;
}


/* Hero Text */

.hero-content {
    max-width: 55%;
    animation: slideup 1s ease;
}
@keyframes slideup{
    from {
        opacity:0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.hero-content h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ff6b35;
}

.hero-content p {
    font-size: 17px;
    line-height: 1.8;
    color: #555;
    max-width: 520px;
}


/* Buttons */

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.primary-btn,
.secondary-btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.primary-btn {
    border: 2px solid #ff6b35;
    color: #ff6b35;
}

.primary-btn:hover{
    background-color: #ff6b35;
    color: white;
    transform: translateY(-3px); 
}

.secondary-btn {
    border: 2px solid #ff6b35;
    color: #ff6b35;
}

.secondary-btn:hover{
    background-color: #ff6b35;
    color: white;
    transform: translateY(-3px);
}


/* ===== Hero Image ===== */

.hero-image {
    width: 40%;
    display: flex;
    justify-content: center;
    
}

.hero-image img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    animation: floating 3s ease-in-out infinite alternate;

    
}

@keyframes floating {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-15px);
    }
}

.about-section{
    min-height: 60vh;
    padding: 80px 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content{
    max-width: 800px;
}

.about-content h2{
    font-size: 40px;
    margin-bottom: 25px;
}

.about-content p{
    font-size: 17px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}

.about-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #ff6b35;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.about-btn:hover{
    transform: translateY(-3px);
}

/*===== Skills Section =====*/

.skills-section{
    min-height: 70vh;
    padding: 80px 8%;
    background-color: #fff8f3;
    text-align: center;
}

.skills-content{
    max-width: 1100px;
    margin: auto;
}

.skills-content h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.skills-intro{
    font-size: 17px;
    line-height: 1.8;
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px;
}

.skill-container{
    display:flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.skill-card{
    width: 220px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition:0.3s;
}

.skill-card:hover{
    transform: translateY(-8px);
}

.skill-card h3{
    font-size: 22px;
    margin-bottom: 20px;
    color: #ff6b35;

}

.skill-badge{
    display: inline-block;
    padding: 8px 14px;
    margin: 5px;
    border: 1px;
    border-radius: 20px;
    color: #ff6b35;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.skill-badge:hover{
    background-color: #ff6b35;
    color: white;
    transform: translateY(-2px);
}

/* skills Responsive */

@media (max-width:768px) {

    .skills-section{
        padding: 60px 5%;
    }

    .skill-card{
        width: 220px;
        padding: 30px 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
        transition: 0.3s;
    }
}

@media (max-width: 480px){

    .skill-card{
        width: 100%;
    }
}

/* ==== projects section ====*/

.projects-section{
    min-height: 70vh;
    padding: 80px 8%;
    text-align: center;
}

.projects-content{
    max-width: 1100px;
    margin: auto;
}

.projects-content h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.projects-intro{
    font-size: 17px;
    line-height: 1.8;
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px;
}

.project-container{
    display:flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.project-card{
    width: 350px;
    min-height: 380px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.10);
    transition: 0.3s;

    display: flex;
    flex-direction: column;

}

.project-card:hover{
    transform: translateY(-8px);
}

.project-info h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: #ff6b35;
}

.project-info{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-info p{
    font-size: 16px;
    line-height: 1.7;
    color: #555;
}

.project-tech{
    margin: 20px 0;
}

.project-tech span{
    display: inline-block;
    padding: 7px 12px;
    margin: 4px;
    border: 1px solid #ff6b35;
    border-radius: 20px;
    color: #ff6b35;
    font-size: 13px;
    font-weight: 600;
}

.project-buttons{
    margin-top: auto;
    padding-top: 20px;

}

.project-btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 18px;
    margin: 5px;
    border: 2px solid #ff6b35;
    border-radius: 5px;
    color: #ff6b35;
    font-weight: bold;
    transition: 0.3s;
}

.project-btn:hover{
    background-color: #ff6b35;
    color: white;
    transform: translateY(-3px);
}